include deepMedicRun
include plotTrainingProgress.py
include *.md *.txt
recursive-include documentation *.txt *.png *.md *.pdf
recursive-include examples/configFiles *.cfg 
recursive-include examples/dataForExamples *.txt *.nii.gz
